<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My website's description as appearing on Google, Bing, Yahoo, etc.">
    <meta name="keyword" content="HTML,CSS,2,two,column,layout">
    <meta name="author" content="RTindesings">
    <title>Two Column Layout</title>
    <link rel="stylesheet" href="../public/stylesheets/styles.css" >
  </head>
  <body>
    <div id="page">
      <header>
        <h1>header</h1>
        <nav>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
          </ul>
        </nav>
      </header>
      <div class="container">
        <section class="ctn-work">
          <article class="work">
            <h2>ARTICLE</h2>
          </article>
          <article class="work">
            <h2>ARTICLE</h2>
          </article>
        </section>
        <aside class="ctn-support">
          <h2>ASIDE CONTENT</h2>
          <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
          </ul>
        </aside>
      </div>
      <footer>
        <h2>FOOTER</h2>
        <div class="nav-footer">
          <ul>
            <h3>Secondary Links</h3>
            <li><a href="#">test1</a></li>
            <li><a href="#">test2</a></li>
            <li><a href="#">test3</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
